params {
    outdir = "results"
    cpus = 4
}

process {
    executor = 'slurm'
    queue = 'cpu'

    // Default fallback resources
    cpus = 1
    memory = '2 GB'
    time = '1h'

    // Tool-specific resources
    withName: 'FASTQC' {
        cpus = 2
        memory = '4 GB'
    }
    withName: 'TRIMMOMATIC' {
        cpus = 4
        memory = '8 GB'
    }
    withName: 'SALMON_QUANT' {
        cpus = 6
        memory = '12 GB'
    }
    withName: 'R_ANALYSIS' {
        cpus = 1
        memory = '1 GB'
    }
    withName: 'SEQKIT_FQ2FA' {
        cpus = 1
        memory = '2 GB'
    }
}

profiles {

    conda {
        includeConfig 'conf/conda.config'
    }

    apptainer {
        includeConfig 'conf/apptainer.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    local {
        includeConfig 'conf/local.config'
    }
}