// Enable Apptainer so Nextflow knows to use containers
apptainer.enabled = true

// Define the resources for your specific process
process {
    withName: FASTQ_TO_FASTA {
        cpus = 2
        memory = '4 GB'
        // Pointing directly to your newly pushed DockerHub image
        container = 'benoalexandra/seqkit-custom:2.13.0'
    }
}

// Set up the SLURM profile for the cluster
profiles {
    slurm {
        process.executor = 'slurm'
    }
}
