apptainer {

    enabled = true

    autoMounts = true
}


process {

    withName: FASTQC {

        container = 'hcemm/bioinfo-workshop:fastqc'

    }

    withName: TRIMMOMATIC {

        container = 'hcemm/bioinfo-workshop:trimming'

    }

        withName: MULTIQC {

        container = 'hcemm/bioinfo-workshop:fastqc'

    }

    withName: SALMON_INDEX {

        container = 'hcemm/bioinfo-workshop:salmon'

    }

    withName: SALMON_QUANT {

        container = 'hcemm/bioinfo-workshop:salmon'

    }

    withName: R_ANALYSIS {

        container = 'hcemm/bioinfo-workshop:limma'

    }

    withName: SEQKIT_FQ2FA {

        container = 'sompaa/seqkit:latest'

    }

}